<ion-header>
	<ion-navbar>
		<ion-title>Games</ion-title>
		<ion-buttons end>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<ion-refresher (ionRefresh)="reload($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<ion-list>
		<ion-item-group *ngFor="let tournament of tournaments">
			<ion-item-divider>
				{{tournament.description}}
				<button  item-right ion-button icon-only  (click)="openInsert(tournament)">
					<ion-icon  name="add-circle"></ion-icon>
				</button>
			</ion-item-divider>
			<ion-item *ngFor="let item of tournament.games" (click)="openDetails(item)">
				<!-- <h2>{{item.description}} - {{item.date | date: "dd/MM/yyyy"}}</h2><ion-icon item-right name="arrow-forward"></ion-icon> -->
				<h2>{{item.description}} - {{item.date | amDateFormat: "L"}}</h2><ion-icon item-right name="arrow-forward"></ion-icon>
			</ion-item>
		</ion-item-group>
	</ion-list>
</ion-content>
